@import "components/Anim.css";

.welcome-header{
    position: relative;
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.welcome-header__title {
    margin-bottom: 20px;
    font-size: 45px;
    color: #ffd32a;;
    margin-bottom: 50px;
    text-shadow: 3px 3px 0 #f0932b;
}

.welcome-header__text {
    color: #dff9fb;
    font-size: 30px;
    width: 60%;
    margin-bottom: 30px;
    text-shadow: 3px 3px 0 black;
}

@keyframes logomove {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(400px);
        opacity: 0;
    }
}

.logo img {
    width: 100px;
    height: 100px;
    animation: logomove 3s ease-in-out infinite;
}

.battop {
    position: absolute;
    top : -90px;
    z-index: -1;
}

.battop img{
    width: 150px;
    height: 170px;
    opacity: 0.7;
}

#login-form input[type="submit"]:hover {
    background-color: #f6e58d;
    /* transition: background-color 0.3s ease-in-out; */
}

#login-form input[type="submit"]:active {
    animation: downAnim 0.1s linear forwards;
    box-shadow: 0 0px;
    /* transition: box-shadow 0.2s linear; */
}

#login-form {
    display:flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input {
    color: white;
    background-color: black;
    border: none;
    padding: 15px 15px;
    font-size: 18px;
    margin-bottom: 25px;
}

#login-form input:not([type="submit"]){
    border: 3px solid rgba(0, 0, 0, 0.623);
    transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
    color: #dff9fb;
}

#login-form input:focus {
    border-color: var(--yellow); /*border-bottom에 대해서*/

}

#login-form input[type="submit"]{
    background-color: #f9ca24;
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 15px;
    box-shadow: 0 10px 0  #968700;
    transition: box-shadow 0.1s linear, background-color 0.3s ease-in-out;
}

#login-form a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

#login-form input[type="text"] {
    border-radius: 25px;
}

#login-form input[type="password"] {
    border-radius: 25px;
}