
.settings__setting {
    padding: 20px 0;
    border-bottom: var(--main-border);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings-list {
    color: white;
}

.settings__setting i {
    opacity: 0.8;
    margin-right: 20px;
    font-size: 22px;
}

.settings__setting-column:last-child {
    opacity: 0.5;
}