.video {
    position: absolute;
    top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px ridge rgba(255, 0, 0, 0.733);
    border-radius: 15px;
}

.video iframe{
    border-radius: 15px;
}

