@import "components/Anim.css";

.user-component{
    border-radius: 15px;
    background-color: rgba(110, 106, 106, 0.4);
    justify-content: space-between;
    margin-bottom: 17px;
    transition: background-color 0.3s ease-in-out;

}
.user-component,
.user-component__column:first-child {
    display : flex;
    align-items: center;
}

.user-component__up:hover {
    background-color: rgba(110, 106, 106, 0.637);
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.user-component__avatar {
    width:70px;
    height: 70px;
    border-radius: 18px;
    margin-right: 20px;
}

.user-component__title {
    color: rgba(255, 255, 255, 0.863);
    font-size: 25px;
}

.user-component__subtitle {
    margin-top: 8px;
    font-size: 20px;
    color : rgba(255, 255, 255, 0.4);
}

.user-component__avatar--xl {
    width: 80px;
    height: 80px;
}

.user-component__avatar--sm{
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

.user-component__avatar--villain {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.user-component__title--not-bold{
    font-weight: 400;
}

.user-component__title--my-name {
    font-size: 30px;
    color: white;
}


.user-component__column:last-child {
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 8px;
}

.user-component__time {
    display: block;
    margin-bottom: 7px;
    margin-right: 8px;
}

.user-component__column--music {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border-radius: 15px;
    border: solid 2px ;
    border-color: #32ff7e;
    color: white;
    margin-right: 13px;
    transition: background-color 0.3s ease-in-out;
}

.fa-play-circle {
    color:#32ff7e;
    margin-left: 4px;
}

.fa-play-circle:hover {
    cursor: pointer;
}

.user-component__column--music:hover {
    background-color: #32ff7d79;
}